<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Projects</title>
  </head>
  <nav>
    <a href="./home">Home</a>
    <a href="./about">About</a>
    <a href="./works">Achievements</a>
    <a href="./photogalery">Photogalery</a>
  </nav>
  <body>
    <ul>
      <li>103 Wins</li>
      <li>192 Podiuns</li>
      <li>103 Pole Positions</li>
    </ul>
  </body>
</html>
